<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="sn.esp.www" version="1.0.0">
    <name>ToDoListApp</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    
      <platform name="android">
        <icon density="ldpi" src="res/icon/mipmap-mdpi/ic_launcher.png"/>
        <icon density="mdpi" src="res/icon/mipmap-mdpi/ic_launcher.png"/>
        <icon density="hdpi" src="res/icon/mipmap-hdpi/ic_launcher.png"/>
        <icon density="xhdpi" src="res/icon/mipmap-xhdpi/ic_launcher.png"/>
        <icon density="xxhdpi" src="res/icon/mipmap-xxhdpi/ic_launcher.png"/>
        <icon density="xxxhdpi" src="res/icon/mipmap-xxxhdpi/ic_launcher.png"/>
    </platform>
</widget>
